<!DOCTYPE html>
<html>

<head>
  <title>Classification Information</title>
  {% load static %}
  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
</head>

<body class="bg-light">
  <div class="container mt-5">
    
    <div class="container text-center">
      <div class="row">
        <div class="col-10"><h2 class="container-md bg-success rounded-3 text-white">Classification Information</h2></div>
        <div class="col-2"><a href="{% url 'home' %}" class="btn btn-secondary">Home</a></div>
      </div>
    </div>

    <div class="container text-center">
      <div class="row">
        <div class="col-4">
            <div class="card shadow" style="max-width: 500px;">
                <div class="card-body">
                <p><strong>Prediction:</strong> {{ record.result }}</p>
                <p><strong>Confidence:</strong> {{ record.confidence|floatformat:2 }}%</p>
                <p><strong>Model:</strong> {{record.getModelName}}</p>
                <img src="{{ record.image.url }}" alt="Classified image" class="img-fluid rounded mt-3">
                <br>
                <em>{{ record.created_at }}</em>
                </div>
            </div>
        </div>
        <div class="col-8">
          <br>
          <div class="card shadow" style="max-width: 750px;">
            <h4 class="container-md bg-secondary border border-secondary-emphasis rounded-3 text-white">About & Cure</h4>
            <p>{{ about }}</p>
            <br><br><br>
            <h5 class="container-md bg-secondary border border-secondary-emphasis rounded-3 text-white">AI Overview</h5>
            {{response_text|safe}}
          </div>
        </div>
      </div>
    </div>

  </div>
  
</body>

</html>